*
!.gitignore
!logs/
logs/*
!logs/.gitkeep
!processed/
processed/*
!processed/.gitkeep
!raw/
raw/*
!raw/samples/
!raw/samples/*.html
!raw/samples/*.djjs
!reference/
reference/*
!reference/*.csv
!reference/*.txt
